FinancialControl.sln

.vs/

FinancialControl/FinancialControl.csproj

FinancialControl/FinancialControl.csproj.user

FinancialControl/Properties/

FinancialControl/appsettings.json

FinancialControl/bin/

FinancialControl/obj/

FinancialControl/wwwroot/favicon.ico

FinancialControl/wwwroot/js/

FinancialControl/wwwroot/lib/